<ion-header>

  <ion-navbar color="dark">
    <ion-title>Go Travel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: black;" padding>
  <ion-list id="chatMessages">
    <ion-item *ngFor="let message of messages" [class]="message.specialMessage ? 'message special': 'message'">
      <ion-avatar *ngIf="message.username=='bot'" item-start><img class="avt" src="assets/imgs/bot-avatar.png">
      </ion-avatar>
      <div [class]="message.username == 'bot' ? 'innerMessage messageLeft': 'innerMessage messageRight'">

        <div *ngIf="message.username==username" class="username">{{message.username}}</div>
        <div *ngIf="message.img" class="pfp">
          <img [src]="message.img">
        </div>
        <div class="messageContent" text-wrap [innerHTML]="message.message"></div><br>
        <div *ngIf="message.cal">
          <ion-item style="background: transparent;" no-lines>
            <ion-datetime [disabled]="message.clicked" placeholder="Enter date" displayFormat="MMM DD YYYY"
              [(ngModel)]="dat" (ionChange)="message.clicked=true;usermsg(dat)">
            </ion-datetime>
          </ion-item>
        </div>
        <div *ngIf=" message.options">

          <button [disabled]="message.clicked" (click)="message.clicked=true;usermsg(option.opt)"
            style="display: block; width: 100%;" *ngFor="let option of message.options" ion-button
            round>{{option.opt}}</button>
        </div>

      </div>
    </ion-item>
    <div *ngIf="showanim" class="animm">
      <ion-avatar item-start><img class="avt" src="assets/imgs/bot-avatar.png">
      </ion-avatar>
      <lottie-animation-view (animCreated)="handleAnimation($event)" [options]="interactiveAnimationOption">
      </lottie-animation-view>
    </div>
  </ion-list>
</ion-content>
<ion-footer>

  <ion-toolbar color="dark">

    <textarea [disabled]="isDisabled" spellcheck="true" autoComplete="true" autocorrect="true" rows="1"
      class="chat-input" [(ngModel)]="message" placeholder="Type something..." (keyup.enter)="sendMessage()">
        </textarea>

    <ion-buttons right>
      <button [disabled]="butDisable" (click)="sendMessage()" ion-button icon-only item-right class="send-chat-button"
        color="primary">
        <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-footer>